network:
  version: 2
  ethernets:
    private0:
      match:
        macaddress: "{{ private_net_mac }}"
      set-name: private0
      dhcp4: false
      addresses:
        - {{ private_net_ip }}/24
