# Managed by Ansible
[Unit]
Description=Renew Let's Encrypt certificates via compose
Wants=network-online.target
After=network-online.target docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/bin/docker compose -f /opt/stacks/web/compose.yml run --rm certbot renew
ExecStartPost=/usr/bin/docker exec nginx nginx -s reload
