# Managed by Ansible
server {
    listen 80;
    server_name {{ domain }} www.{{ domain }};

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }
{% if web_tls_active %}
    location / {
        return 301 https://{{ domain }}$request_uri;
    }
}

server {
    listen 443 ssl;
    http2 on;
    server_name {{ domain }} www.{{ domain }};

    ssl_certificate /etc/letsencrypt/live/{{ domain }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ domain }}/privkey.pem;

    location / {
        root /usr/share/nginx/html;
        index index.html;
    }

    location ~* \.pdf$ {
        root /usr/share/nginx/html;
        add_header X-Robots-Tag "noindex, noarchive, nosnippet" always;
    }
}
{% else %}
    location / {
        root /usr/share/nginx/html;
        index index.html;
    }

    location ~* \.pdf$ {
        root /usr/share/nginx/html;
        add_header X-Robots-Tag "noindex, noarchive, nosnippet" always;
    }
}
{% endif %}
