# Managed by Ansible
RESTIC_REPOSITORY='s3:https://{{ backup_s3_namespace }}.compat.objectstorage.{{ backup_s3_region }}.oraclecloud.com/{{ backup_s3_bucket }}'
RESTIC_PASSWORD='{{ restic_password }}'
AWS_ACCESS_KEY_ID='{{ oci_s3_access_key }}'
AWS_SECRET_ACCESS_KEY='{{ oci_s3_secret_key }}'
AWS_DEFAULT_REGION='{{ backup_s3_region }}'
RESTIC_CACHE_DIR=/var/cache/restic
